:host {
  display: block;
  padding: 30px;
}  
.pizza-button {
  button {
    cursor: pointer;
    background: #1094d2;
    color: #fff;
    padding: 10px 15px;
    border: 0;
    outline: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out;
    img {
      margin: 0 8px 0 0;
    }
    &:hover {
      background: darken(#1094d2, 4%);
    }
    &:disabled {
      opacity: .5;
      cursor: not-allowed;
    }
    @media screen and (max-width: 550px) {
      width: 100%;
      justify-content: center;
    }
  }
}