.pizza-creator {
  position: relative;
  background: #fff;
  box-shadow: 0 3px 4px rgba(0,0,0,.1);
  border: 1px solid #c1cedb;
  border-radius: 3px;
  overflow: hidden;
  &__title {
    background: #1094d2;
    color: #fff;
    padding: 10px 15px;
    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 1px;
      img {
        width: 40px;
        margin: 0 10px 0 0;
      }
    }
  }
  &__panes {
    display: flex;
    @media screen and (max-width: 750px) {
      display: block;
    }
  }
}